---
import BaseLayout from "../layouts/BaseLayout.astro"
import Navigation from "../components/Navigation.astro"
import AudioPlayer from "../components/AudioPlayer.astro"
import HighlightBox from "../components/HighlightBox.astro"
import Footer from "../components/Footer.astro"

const title = "The home of the pioneering macaw Arielle"
const description =
  "This site deals with the abilities of one talking bird and is intended to be a resource for potential bird owners, anyone interested in speech perception, people who are interested in the development of language in nonhumans, and bird keepers who wish to share information about their talking birds."
---

<BaseLayout title={title} description={description}>
  <Navigation slot="navigation" currentPage="home" />

  <article>
    <div class="breadcrumb">
      <strong>You are here:</strong><br />Index Page
    </div>

    <header class="page-header">
      <h1>ParrotSpeech.org</h1>
      <h2>The home of the pioneering macaw Arielle</h2>
    </header>

    <section class="intro-section">
      <p class="intro-text">
        This site deals with the abilities of one talking bird and is intended to be a resource for potential bird
        owners, anyone interested in speech perception, people who are interested in the development of language in
        nonhumans, and bird keepers who wish to share information about their talking birds.
      </p>
      <p class="book-info">
        For information about my book describing Arielle's speech,
        <a href="/another-mind">click here</a> to transfer to the site page for
        <em>Another Kind of Mind</em>.
      </p>
    </section>

    <section class="main-content">
      <div class="arielle-image">
        <img
          src="/images/Arielle_standing_on_her_cup.jpg"
          alt="Arielle the Blue & Gold macaw"
          width="300"
          height="449"
        />
      </div>
      <div class="arielle-description">
        <p>Arielle is a friendly Blue & Gold macaw. Macaws, like other parrots, can talk.</p>
        <p>
          She has a large vocabulary and has spoken more than 4000 different expressions. Arielle understands English.
          At times she speaks directly to her human friend.
        </p>
        <p>
          She freely vocalizes most days. Her speech contains sequences of statements about many topics, and she carries
          on conversations with herself and imagined friends.
        </p>
        <p>
          She is one of a handful of birds around the world who can communicate ideas through speech. The author
          formulated the idea of listening to her voluntarily spoken words as a new approach to interspecies
          communication.
        </p>
      </div>
    </section>

    <aside class="site-update">
      <p><strong class="cyan">Site last update</strong><br /><span class="red">08 May 2019</span></p>
      <p><strong class="cyan">Last major update</strong><br /><span class="red">14 September 2015</span></p>
    </aside>

    <section class="greeting-section">
      <HighlightBox>
        <p class="greeting-text">
          To hear Arielle's greeting, click the play button to the right.<br />
          Arielle says, "Hi! ... Hello."<br />
          <small
            >(<a href="/media/TrackD211T26_HI.wav">If player does not appear, click on this text to play speech.</a
            >)</small
          >
        </p>
      </HighlightBox>
      <AudioPlayer src="/media/TrackD211T26_HI2.wav" caption="Arielle's greeting: Hi! ... Hello." />
    </section>

    <section class="tv-section">
      <p class="tv-info">
        To see and hear information about Arielle presented on a Florida TV show, click on the link below. Look for
        "Seen on TV." If segment does not come up, search for "parrot," then select article about "Is Arielle Talking?"<br
        />
        Interview about speech research/cognitive speech clip from WTVT-13 FOX, Tampa 29 September 2010
      </p>
      <p class="tv-link"><a href="/videos/Fox13_News_Animal_Talk_1.mp4">See Arielle on TV ... Hear her talking</a></p>
      <p>
        <a href="/videos/WTSP_July2008.mp4"><strong>Arielle's (2008) Appearance on WTSP-10 Tampa Bay's 10 TV</strong></a
        >. (Click to go to start and go to page.)
      </p>
    </section>

    <section class="another-greeting">
      <HighlightBox>
        <p class="greeting-text">
          To hear another greeting said by Arielle, click the play button to the left.<br /><br />
          Arielle says, "Have a good day!" (laughs)<br />
          <small>(She learned the phrase from people in the street; this version recorded 18 August 2009)</small><br />
          <small
            >(<a href="/media/HAGD_Disc_419_Track11_18Aug2009mp3.mp3"
              >Click on this text to play speech if player does not appear</a
            >.)</small
          >
        </p>
      </HighlightBox>
      <AudioPlayer src="/media/HAGD_Disc_419_Track11_18Aug2009mp3.mp3" caption="Arielle saying: Have a good day!" />
    </section>

    <section class="events-section">
      <h2>Appearances & Events</h2>
      <p class="book-signing-info">
        Information about appearances, presentations, events to "meet the author" and attend a book signing for <strong
          ><em>Another Kind of Mind</em></strong
        >: A Talking bird Masters English
      </p>
      <p class="check-listings">
        Check for new listings because future additions may appear, including appearances by Arielle.
      </p>
      <p class="more-info">
        <span class="red"><strong>Click for more information ></strong></span>
        <a href="/contact">Audio/Visual Presentations, Papers, Discussions, and Seminars</a>
      </p>

      <section class="youtube-section">
        <p>Click below to hear the song Pretty Parrot featuring pictures of Arielle</p>
        <!-- <p><a href="https://youtu.be/qfeKKwGbbQk"><strong>https://youtu.be/qfeKKwGbbQk</strong></a></p> -->
        <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/qfeKKwGbbQk?si=OMRtaniFnx5W4vF1"
          title="YouTube video player"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen></iframe>
      </section>

      <table class="events-table">
        <thead>
          <tr>
            <th>WHO</th>
            <th>WHEN</th>
            <th>WHERE</th>
            <th>WHAT</th>
          </tr>
        </thead>
        <tbody>
          <tr><td colspan="4">&nbsp;</td></tr>
          <tr class="event-row featured">
            <td><strong>Mike</strong></td>
            <td>
              <strong>14 July 2019</strong><br /><br />
              Clearwater, Florida
            </td>
            <td>
              <strong>Clearwater Library</strong><br /><br />
              100 N. Osceola Ave<br />Clearwater, FL 33755<br /><br />(727) 562-4970
            </td>
            <td>
              <strong>Meet the Author</strong><br /><br />
              Authors speak with the public about their books. I will have a PowerPoint video playing about Arielle's speech.
              Books are for sale and will be signed on request.<br /><br />
              <span class="red"><strong>Bring questions about an animal learning language.</strong></span>
            </td>
          </tr>
          <tr><td colspan="4">&nbsp;</td></tr>
          <tr class="event-row">
            <td>Mike</td>
            <td>
              <strong>27-30 June 2012</strong><br /><br />
              <span class="red">Speaking</span>: Thursday<br />28 June 2012 @ ~2:30 p.m
            </td>
            <td>
              5th EASLCE International Conference on "Natura Loquens: Eruptive Dialogues, Disruptive Discourses"<br
              />Tenerife, Canary Islands, Spain
            </td>
            <td>
              Convention Paper/Presentation--<br />"Disrupted Dialogue: A Macaw Learning Language"<br /><br />
              (Communication between bird and man ruptures due to inattention.)
            </td>
          </tr>
          <tr class="event-row">
            <td>Mike</td>
            <td>
              <strong>25-26 August 2012</strong><br />
              <span class="red">Speaking</span>: Saturday 3 p.m.<br />Sunday: 2 p.m.<br /><br />
              <a href="/files/Flyer2012.pdf" target="_blank"
                >Click for brochure about 2012 All-American Hookbill Fair & Seminar--Gateway Parrot Club</a
              >
            </td>
            <td>
              2012 All-American Hookbill Fair & Seminar--Gateway Parrot Club<br />Machinists Hall<br />12365 St. Charles
              Rock Rd., Bridgeton MO (St. Louis)
            </td>
            <td>
              (Saturday) <em class="red">Beyond … "Polly Wants a Cracker"™:</em>
              <em>Parrots Using Language</em><br /><br />
              (Sunday) <em class="red">Beyond … "Polly Wants a Cracker"™:</em>
              <em>Humans Limit Interspecies Communication with Parrots</em>
            </td>
          </tr>
          <tr><td colspan="4">&nbsp;</td></tr>
          <tr class="event-row">
            <td>Mike</td>
            <td>
              <strong>06-09 March 2013</strong><br />
              <span class="red">Speaking</span>: Wednesday<br />6 March 2013 at 9:00 p.m.<br /><br />
              www.comparativecognition.org/conference
            </td>
            <td>
              20th Annual Conference of the <strong>Comparative Cognition Society</strong><br />
              3101 North Highway A1A<br />Indiatlantic Beach, Melbourne<br />Florida
            </td>
            <td>
              <em class="red">Speech-Language Disparity</em><br />
              Lack of perception for elements of language ... "Passive Speech Research": cognitive speech, use of synonym
              & pronoun substitution
            </td>
          </tr>
          <tr><td colspan="4">&nbsp;</td></tr>
        </tbody>
      </table>
    </section>

    <section class="about-arielle">
      <p>
        In June 2009, she will be 18 years old. Arielle is a shy bird, especially around strangers, and as a
        "free-speaking talking bird," she speaks voluntarily. She accompanies me on a daily visit to a park or a walk
        about the neighborhood, and during our outings, she occasionally speaks directly to me.
      </p>
      <p>
        A form of interspecies communication results when she speaks to me. I call Arielle "an educated bird" rather
        than a trained parrot. The term educated means that she continues to learn language, and Arielle speaks as a
        result of learning things from lessons. She also learns on her own by associative learning. A speech sample can
        be heard by clicking identified sound selections located near yellow boxes throughout this site; transcription
        of Arielle's words appear in another yellow box near the bottom of the same page. Many speech samples appear on
        the "Another_Mind" page; the transcriptions are in the book <em>Another Kind of Mind</em>.
      </p>
      <p>
        Many people consider macaws to be mediocre talking birds. Arielle might be an exception. She vocalizes daily
        from her gym on the porch; her remarks often contain sequences of invented statements that express her thoughts.
        Listeners initially find her recorded speech difficult to understand, but after seeing a transcription of her
        statements they are startled by the range of her conversational topics as well as her general comments.
      </p>
    </section>

    <section class="linguistic-abilities">
      <p>
        <strong
          >Arielle is learning English at an advanced grade-school level. Her linguistic abilities include:</strong>
      </p>
      <ul>
        <li>Arielle speaks of her free will and communicates many different messages.</li>
        <li>Arielle speaks with as many as five (5) different voice characteristics.</li>
        <li>Arielle is learning the English language and can make complicated statements.</li>
        <li>Arielle asks questions, and she sometimes answers her own query (ha, ha).</li>
        <li>
          Arielle identifies other animals as ants, butterfly, cat, dog, rabbit, and snake; her vocabulary to describe
          birds includes: bird, cardinal, crow, egret, "feathered friend," hawk, parrot, and stork.
        </li>
        <li>
          Arielle knows common words that begin with most letters of the alphabet, but she hasn't needed to speak words
          that begin with "X" or "Z" yet.
        </li>
        <li>Arielle speaks about many every day things and speaks sequences about a single topic.</li>
      </ul>
    </section>

    <section class="parrot-interest">
      <p>
        <strong>How many people are interested in parrot speech?</strong><br />The counter shows how many new friends
        Arielle made.
      </p>
    </section>

    <section class="parrot-group">
      <div class="group-join">
        <a href="http://groups.yahoo.com/group/ParrotSpeech/join">
          <img src="http://us.i1.yimg.com/us.yimg.com/i/yg/img/i/us/ui/join.gif" alt="Click to join ParrotSpeech" />
          <p>Click to join ParrotSpeech</p>
        </a>
      </div>
      <div class="group-description">
        <p><strong>Here are the details about the ParrotSpeech Group:</strong></p>
        <h3>Description</h3>
        <p>
          People interested in the study of spontaneous speech by talking birds. The topics of concern include learning
          theory, speech recognition, recording speech, cognitive speech by talking birds, linguistics, conversations
          with parrot-like birds, cognition, consciousness, and other topics related to the talking birds. To join click
          on the button to the left or enter the subscription into your e-mail address:
          ParrotSpeech-subscribe@yahoogroups.com
        </p>
      </div>
    </section>

    <section class="caution">
      <p class="red"><strong>CAUTION!</strong></p>
      <p>All of the pictures and materials contained on this web site are the property of the author.</p>
      <p>
        None of the pictures or written material may be used, quoted, or reproduced in any form what so ever without the
        expressed written consent of the author.
      </p>
      <p>© 2003-2019 by Michael Dalton</p>
    </section>

    <section class="arielle-summary">
      <p class="summary-text">
        Arielle speaks and understands hundreds of English words, phrases, and sentences. This capacity is called
        cognitive speech.
      </p>
    </section>

    <div class="top-sites">
      <a href="http://www.top100birdsites.com/" target="_blank">
        <img src="/images/top_100_bird_sites_button.png" width="116" height="48" alt="Top 100 Bird Sites" />
      </a>
    </div>

    <Footer />
  </article>
</BaseLayout>

<style>
  .breadcrumb {
    color: #00cccc;
    font-family: Arial, sans-serif;
    font-size: 18px;
    margin-bottom: 20px;
  }

  .page-header {
    text-align: center;
    margin-bottom: 30px;
  }

  .page-header h1 {
    font-size: 30px;
    color: #663300;
    margin-bottom: 10px;
  }

  .page-header h2 {
    font-size: 30px;
    color: #663300;
    font-weight: bold;
  }

  .intro-section {
    margin-bottom: 30px;
  }

  .intro-text {
    color: #000066;
    font-weight: bold;
    line-height: 1.5;
  }

  .book-info {
    color: #000066;
    font-weight: bold;
    font-size: 24px;
    line-height: 1.4;
  }

  .book-info em {
    font-style: italic;
  }

  .main-content {
    display: flex;
    gap: 30px;
    margin-bottom: 30px;
    flex-wrap: wrap;
  }

  .arielle-image img {
    max-width: 100%;
    height: auto;
  }

  .arielle-description {
    flex: 1;
    min-width: 250px;
    color: #000066;
    font-weight: bold;
    line-height: 1.5;
  }

  .site-update {
    color: #663300;
    margin-bottom: 30px;
  }

  .site-update .cyan {
    color: #00cccc;
  }

  .site-update .red {
    color: #ff0000;
  }

  .greeting-section,
  .another-greeting {
    display: flex;
    gap: 20px;
    align-items: flex-start;
    margin-bottom: 30px;
    flex-wrap: wrap;
  }

  .greeting-text {
    color: #ff0000;
    font-size: 20px;
  }

  .greeting-text small {
    font-size: 14px;
  }

  .tv-section {
    text-align: center;
    margin-bottom: 30px;
  }

  .tv-info {
    color: #663300;
    font-weight: bold;
  }

  .tv-link {
    font-size: 20px;
  }

  .tv-link a {
    font-weight: bold;
  }

  .events-section {
    margin: 40px 0;
  }

  .events-section h2 {
    color: #ff0000;
    font-family: "Comic Sans MS", cursive, sans-serif;
  }

  .book-signing-info {
    color: #663300;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 18px;
  }

  .check-listings {
    color: #ff0000;
    font-family: "Comic Sans MS", cursive, sans-serif;
  }

  .more-info {
    margin-bottom: 20px;
  }

  .more-info .red {
    color: #ff0000;
    font-size: 18px;
  }

  .more-info a {
    font-size: 18px;
  }

  .youtube-section {
    color: #000066;
    font-size: 24px;
    margin: 20px 0;
  }

  .events-table {
    width: 100%;
    border: 2px outset #dcdcdc;
    border-collapse: separate;
    border-spacing: 2px;
    margin-top: 20px;
  }

  .events-table th {
    background-color: #f5f5f5;
    color: #ff0000;
    font-family: "Comic Sans MS", cursive, sans-serif;
    border: 1px inset #dcdcdc;
    padding: 8px;
    text-align: left;
    vertical-align: top;
  }

  .events-table td {
    border: 1px inset #dcdcdc;
    padding: 8px;
    vertical-align: top;
    color: #009966;
    font-weight: bold;
  }

  .events-table .event-row.featured td {
    font-size: 18px;
  }

  .events-table .red {
    color: #ff0033;
  }

  .about-arielle {
    color: #663300;
    font-weight: bold;
    line-height: 1.5;
    margin: 40px 0;
  }

  .linguistic-abilities {
    color: #663300;
    font-weight: bold;
    line-height: 1.5;
    margin: 40px 0;
  }

  .linguistic-abilities ul {
    padding-left: 40px;
  }

  .linguistic-abilities li {
    margin-bottom: 8px;
  }

  .parrot-interest {
    color: #663300;
    font-weight: bold;
    margin: 30px 0;
  }

  .parrot-group {
    display: flex;
    gap: 30px;
    margin: 30px 0;
    flex-wrap: wrap;
  }

  .group-join {
    text-align: center;
  }

  .group-description {
    flex: 1;
    min-width: 300px;
    color: #663300;
    font-weight: bold;
  }

  .group-description h3 {
    text-decoration: underline;
    font-size: 20px;
    color: #663300;
  }

  .caution {
    margin: 40px 0;
    color: #663300;
    font-weight: bold;
  }

  .caution .red {
    color: #ff0000;
  }

  .arielle-summary {
    text-align: center;
    margin: 40px 0;
  }

  .summary-text {
    color: #663300;
    font-size: 24px;
  }

  .top-sites {
    text-align: right;
    margin: 20px 0;
  }

  .red {
    color: #ff0000;
  }

  em.red {
    color: #ff0033;
  }
</style>
